<template>
  <div class="itemAuto" @click="addProduct(product)">{{product.name}}</div>
</template>

<script>
  export default {
    name   : 'Products',
    props  : ['product'],
    methods: {
      addProduct (product) {
        this.$emit('add-product', product)
      }
    }
  }
</script>
