<template>
  <router-link :to="{name: 'shoppingList', params: {id: list.id}}">
    <div class="name">{{ list.name }}</div>
  </router-link>
</template>

<script>
  export default {
    name : 'Lists',
    props: ['list']
  }
</script>
