<template>
  <div class="item">
    <router-link :to="{name: 'shoppingList', params: {id: list.id}}">
      <div class="id">{{ list.id }}</div>
      <div class="name">{{ list.name }}</div>
    </router-link>
    <div class="delete">
      <button class="ui negative basic button" @click="deleteList(list.id)"><i class="trash icon"></i></button>
    </div>
  </div>
</template>

<script>
  export default {
    name   : 'ListOfLists',
    props  : ['list'],
    methods: {
      deleteList (id) {
        this.$emit('delete-list', id)
      }
    }
  }
</script>

<style scoped>
  .item {
    display         : flex;
    justify-content : center;
    padding         : 15px 0;
    border-top      : solid 1px #EDEDED;
  }

  .item:hover {
    background-color : #DDEDFF;
  }

  .item:nth-child(1) {
    border-top : none;
  }

  .item a {
    width       : 70%;
    display     : flex;
    align-items : center;
    color       : black;
    font-weight : bold;
  }

  .item a:hover {
    text-decoration : none;
  }

  .item a .id {
    width : 30%;
  }

  .item a .name {
    width      : 70%;
    text-align : left;
  }

  .item .delete {
    width : 30%;
  }

  .icon.trash {
    color  : red !important;
    margin : 0 !important;
  }

  .ui.basic.negative.button:hover {
    background-color : red !important;
  }

  button.ui.negative:hover .icon.trash {
    color   : white !important;
    opacity : 1 !important;
  }
</style>