<template>
  <div class="item" :class="{isChecked : product.checked}">
    <div class="checked">
      <label :for="'checkbox-' + product.id"/>
      <input :id="'checkbox-' + product.id" type="checkbox" @click="updateCheckProduct(product, $event)"
             :checked="product.checked"/>
    </div>
    <div class="name">{{ product.name }}</div>
    <div class="price">
      <div v-if=product.checked class="ui right icon input">
        <input class="price" v-model="product.price" @change="updatePriceProduct(product, $event)"/>
        <i class="euro sign icon"></i>
      </div>
    </div>
    <div class="delete">
      <button class="ui negative basic button" @click="deleteProduct(product.id)"><i class="trash icon"></i></button>
    </div>
  </div>
</template>

<script>
  export default {
    name   : 'Products',
    props  : ['product'],
    methods: {
      deleteProduct (id) {
        this.$emit('delete-product', id)
      },
      updateCheckProduct (product, $event) {
        this.$emit('update-check-product', product, $event)
      },
      updatePriceProduct (product, $event) {
        this.$emit('update-price-product', product, $event)
      }
    }
  }
</script>

<style scoped>
  .item {
    display        : flex;
    flex-direction : row;
    border         : solid black 1px;
    padding        : 10px 20px;
  }

  .item > div {
    width           : 25%;
    display         : flex;
    justify-content : center;
    align-items     : center;
  }

  .item > div.checked {
    position : relative;
  }

  .item.isChecked {
    background-color: #DDEDFF;
  }

  .item > div.checked label {
    width    : 100%;
    height   : 100%;
    position : absolute;
  }

  .item > div.price input {
    width : 100px;
  }

  .item > div.price input:after {
    content : "-";
  }

  .item > div.delete button {
    border-color: red;
  }

  .ui.basic.negative.button:hover {
    background-color: red !important;
  }

  button.ui.negative:hover .icon.trash {
    color  : white !important;
    opacity : 1 !important;
  }

  .icon.trash {
    color  : red !important;
    margin : 0 !important;
  }

</style>
