<template>
  <div class="global-container-homepage">
    <div class="hello">
      <h1>Bonjour</h1>
      <div class="last-list" v-if="seen()">
        La dernière liste modifiée est disponible
        <router-link :to="{name: 'shoppingList', params: {id: getLastUpdatedListId()}}">
          ici
        </router-link>
      </div>
      <div v-else>
        Vous n'avez aucune liste de courses !
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Home',

    data () {
      return {
        listManager: []
      }
    },

    methods: {
      seen () {
        if (window.localStorage.getItem('listManager')) {
          this.listManager = JSON.parse(window.localStorage.getItem('listManager'))
          return this.listManager.length > 0
        }
        return false
      },

      getLastUpdatedListId () {
        let lastUpdatedList = null

        this.listManager.forEach(function (list) {
          if (lastUpdatedList === null ||
            list.updatedAt > lastUpdatedList.updatedAt
          ) {
            lastUpdatedList = list
          }
        })

        if (lastUpdatedList !== null) {
          return lastUpdatedList.id
        }

        return null
      }
    }
  }
</script>
