<template>
  <div class="global-container-lists">
    <shopping-lists></shopping-lists>
  </div>
</template>

<script>
  import ShoppingLists from '../components/ShoppingLists'

  export default {
    name      : 'Lists',
    components: { ShoppingLists }
  }
</script>
