<template>
  <div id="global-container-navbar">
    <router-link to="/">Home</router-link>
    <router-link to="/lists">Mes listes</router-link>
    <router-link to="/about-us">À propos</router-link>
  </div>
</template>

<script>
  export default {
    name: 'NavBar'
  }
</script>

<style scoped>
  #global-container-navbar {
    display         : flex;
    justify-content : center;
    margin-bottom   : 25px;
  }

  #global-container-navbar a {
    display         : flex;
    justify-content : space-around;
    padding         : 25px 70px;
    box-sizing      : border-box;
    color           : black;
    font-weight     : bold;
    border-bottom   : solid 6px transparent;
  }

  #global-container-navbar a:hover, #global-container-navbar a.router-link-exact-active {
    transition    : border-color ease-in 0.20s;
    border-bottom : solid 6px #0D71BB;
    box-sizing    : border-box;
  }

</style>

