<template>
  <div class="main-container" id="global-container">
    <div class="container">
      <h1>Liste {{nameList}}</h1>
      <div class="ui labeled input">
        <div class="ui label">
          Budget :
        </div>
        <input name="budget" placeholder="Budget" v-model="budget" @change="updateListProductsLS(true)">
      </div>
      <div class="container-add-product">
        <div class="container-buttons">
          <div class="ui input">
            <input @input="updateListAutoComplete()" @keyup.enter="addProduct(null)" name="produit"
                   placeholder="Produit"
                   v-model="nameProduct"/>
          </div>
          <button :class="{disabled: this.nameProduct === ''}" :disabled="this.nameProduct === ''"
                  @click="addProduct(null)"
                  class="ui primary animated button">
            <div class="visible content">Valider</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </button>
        </div>
        <div class="main-container-auto" v-if="listAutoCompletionComputed">
          <div class="container-auto">
            <list-autocompletion
              :key="item.id"
              :product="item"
              v-for="item in listAutoCompletion"
              @add-product="addProduct">
            </list-autocompletion>
          </div>
        </div>
      </div>
    </div>
    <div class="listProducts">
      <div class="item header">
        <div class="checked">Check</div>
        <div class="name">Nom</div>
        <div class="price">Prix</div>
        <div class="delete">Supprimer</div>
      </div>
      <listproducts :key="item.id"
                    :product="item"
                    v-for="item in listProducts"
                    @delete-product="deleteProduct"
                    @update-check-product="updateCheckProduct"
                    @update-price-product="updatePriceProduct">
      </listproducts>
    </div>
    <div class="containerTotal">
      <div class="budgetReached" v-if="budgetReached">
        Le budget a été atteint et dépasse de {{grandTotal - budget}}€ !
      </div>
      <div class="total">
        <div class="ui disabled labeled input right icon ">
          <div class="ui label">
            Total :
          </div>
          <input :value="grandTotal" class="price" disabled/>
          <i class="euro sign icon"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ComponentListAutoCompletion from './list/AutoCompletion.vue'
  import ComponentListProducts       from './list/Products.vue'

  export default {
    name      : 'ShoppingList',
    components: {
      'listproducts'       : ComponentListProducts,
      'list-autocompletion': ComponentListAutoCompletion
    },

    data () {
      return {
        nameProduct       : '',
        listProducts      : [],
        listAutoCompletion: null,
        budget            : null,
        nameList          : null
      }
    },

    methods: {
      createNewProduct () {
        return {
          id     : this.getNewId(),
          name   : this.nameProduct,
          price  : 0,
          checked: false
        }
      },

      getClonedProduct (product = null) {
        if (!product) {
          return {}
        }
        let clone = {}
        Object.assign(clone, product)
        clone.id = this.getNewId()

        return clone
      },

      addProduct (product = null) {
        if (product) {
          //add product from autocomplete list
          this.listProducts.push(this.getClonedProduct(product))
        } else {
          this.listProducts.push(this.createNewProduct())
        }
        this.nameProduct = ''
        this.updateListAutoComplete()
      },

      getNewId () {
        if (this.listProducts.length === 0) {
          return 0
        }

        let lastProduct = this.listProducts[this.listProducts.length - 1]
        return lastProduct.id + 1
      },

      deleteProduct (id) {
        this.listProducts.forEach((p, index) => {
          if (p.id === id) {
            this.listProducts.splice(index, 1)
          }
        })
        this.updateListAutoComplete()
      },

      updateCheckProduct (product, $event) {
        product.checked = $event.target.checked
      },

      updatePriceProduct (product, $event) {
        if (!isNaN(parseInt($event.target.value))) {
          product.price = $event.target.value
        }
      },

      updateListAutoComplete () {
        this.listAutoCompletion = []
        if (this.nameProduct && this.listProducts.length > 0) {
          this.listProducts.forEach((e) => {
            let regex = new RegExp('^' + e.name.split('').join('?') + '?$')
            if (regex.test(this.nameProduct)) {
              this.listAutoCompletion.push(e)
            }
          })
        }
      },

      updateListProductsLS (updateInLocalStorage = false) {
        let routerId = this.$route.params.id
        if (routerId !== null && window.localStorage.getItem('listManager')) {
          this.listManager = JSON.parse(window.localStorage.getItem('listManager'))
          if (this.listManager[routerId]) {
            let lm = this.listManager[routerId]
            if (updateInLocalStorage) {
              lm.listProducts = this.listProducts
              lm.budget       = this.budget
              lm.updatedAt    = new Date()
              window.localStorage.setItem('listManager', JSON.stringify(this.listManager))
            } else {
              this.listProducts = lm.listProducts
              this.budget       = lm.budget
              this.nameList     = lm.name
            }
          }
        }
      }
    },

    computed: {
      budgetReached () {
        return this.budget && this.budget < this.grandTotal
      },

      grandTotal () {
        let grandTotal = 0
        this.listProducts.forEach((p) =>
          grandTotal += p.checked ? parseFloat(p.price) : 0
        )
        return grandTotal
      },

      listAutoCompletionComputed () {
        return this.nameProduct && this.listAutoCompletion && this.listAutoCompletion.length > 0
      }
    },

    watch: {
      listProducts: {
        handler () {
          this.updateListProductsLS(true)
        },
        deep: true
      }
    },

    mounted () {
      this.updateListProductsLS(false)
    }
  }
</script>

<style scoped>
  #global-container {
    width          : 100%;
    max-width      : 800px;
    margin         : auto;
    display        : flex;
    flex-direction : column;
    align-items    : center
  }

  #global-container .container {
    display        : flex;
    flex-direction : column;
    align-items    : center
  }

  #global-container .container div.ui.labeled.input div {
    text-transform : none !important;
  }

  #global-container .container div.ui.labeled.input input {
    width : auto;
  }

  #global-container .listProducts {
    display        : flex;
    margin-top     : 30px;
    flex-direction : column;
    width          : 100%;
  }

  #global-container .containerTotal {
    width          : 100%;
    margin-top     : 15px;
    display        : flex;
    flex-direction : column;
  }

  #global-container .containerTotal .budgetReached {
    font-weight   : bold;
    color         : red;
    font-size     : 16px;
    margin-bottom : 7px;
  }

  #global-container .containerTotal .total input {
    width     : auto;
    max-width : 80px;
    border    : none;
  }

  #global-container .containerTotal .total .label {
    text-transform : none;
  }

  #global-container .container-add-product {
    margin-top : 20px;
  }

  #global-container .container-add-product .container-buttons {
    display : flex;
  }

  #global-container .container-add-product > div.ui.input {
    height : 100%;
  }

  #global-container .container-add-product > div.ui.input input {
    border-radius : 5px 0 0 5px;
  }

  #global-container .container-add-product > button.primary {
    border-radius : 0 5px 5px 0;
  }

  #global-container .container-add-product .main-container-auto .container-auto {
    border     : solid #C1C1C1 1px;
    margin-top : 5px;
  }

  #global-container .container-add-product .main-container-auto .container-auto .itemAuto {
    padding       : 10px 0;
    margin        : 0 30px;
    border-bottom : solid 1px #EDEDED;
    cursor        : pointer;
  }

  #global-container .listProducts .item.header {
    display        : flex;
    flex-direction : row;
    border         : solid black 1px;
    padding        : 10px 20px;
    font-weight    : bold;
  }

  #global-container .listProducts .item > div {
    width           : 25%;
    display         : flex;
    justify-content : center;
    align-items     : center;
  }

  #global-container .listProducts .item > div.checked {
    position : relative;
  }

  #global-container .listProducts .item > div.checked label {
    width    : 100%;
    height   : 100%;
    position : absolute;
  }

  #global-container .listProducts .item > div.price input {
    width : 100px;
  }

  #global-container .listProducts .item > div.price input:after {
    content : "-"
  }

  #global-container .listProducts .item > div.delete button {
    background  : white !important;
    border      : solid 1px red;
    height      : 100%;
    color       : black;
    font-weight : bold;
    box-shadow  : none;
  }

  .ui.primary.button, .ui.primary.buttons .button {
    background-color : #2185D0;
    border           : solid 1px #2185D0;
    color            : #FFF;
  }

  .ui.primary.button.active, .ui.primary.button:hover, .ui.primary.buttons .active.button, .ui.primary.buttons .button:hover {
    background-color : #2185D0;
    color            : #FFF;
  }

  .ui.labeled.icon.input:not(.left) > .icon {
    margin-right : 0
  }
</style>