<template>
  <div class="container-lists">
    <div class="container-add">
      <div class="actionsList">
        <div class="ui input">
          <input @input="updateListAutoComplete()" @keyup.enter="addList" name="list" placeholder="Nom de la liste"
                 v-model="listName"/>
        </div>

        <button :class="{disabled: this.listName === ''}" :disabled="listName === ''" @click="addList"
                class="ui primary animated button">
          <div class="visible content">Valider</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
      </div>

      <div class="main-container-auto" v-if="listAutoCompletionComputed">
        <div class="container-auto">
          <listoflistsauto
            :key="item.id"
            :list="item"
            v-for="item in listOfListsAutoComplete">
          </listoflistsauto>
        </div>
      </div>

    </div>

    <div class="item header">
      <div class="infos">
        <div class="id">Numéro</div>
        <div class="name">Nom</div>
      </div>
      <div class="delete">
        Supprimer
      </div>
    </div>

    <listoflists :key="item.id"
                 :list="item"
                 v-for="item in listOfLists"
                 @delete-list="deleteList">
    </listoflists>
  </div>
</template>

<script>
  import ListOfLists                 from './list/ListOfLists.vue'
  import ComponentListAutoCompletion from './list/ListOfListsAutoComplete'

  export default {
    name: 'ShoppingLists',

    components: {
      'listoflists'    : ListOfLists,
      'listoflistsauto': ComponentListAutoCompletion
    },

    data () {
      return {
        listOfLists            : [],
        listOfListsAutoComplete: null,
        lastId                 : 0,
        listName               : ''
      }
    },

    methods: {
      createNewList () {
        return {
          id          : this.lastId,
          name        : this.listName,
          budget      : null,
          listProducts: [],
          updatedAt   : new Date()
        }
      },

      updateListAutoComplete () {
        this.listOfListsAutoComplete = []
        if (this.listName && this.listOfLists.length > 0) {
          this.listOfLists.forEach((e) => {
            let regex = new RegExp('^' + e.name.split('').join('?') + '?$')
            if (regex.test(this.listName)) {
              this.listOfListsAutoComplete.push(e)
            }
          })
        }
      },

      addList () {
        this.listOfLists.push(this.createNewList())
        this.lastId += 1
        this.updateLocalStorage()
      },

      deleteList (id) {
        this.listOfLists.forEach((list, index) => {
          if (list.id === id) {
            this.listOfLists.splice(index, 1)
          }
        })
        this.updateLocalStorage()
      },

      updateLocalStorage () {
        window.localStorage.setItem('listManager', JSON.stringify(this.listOfLists))
      }
    },

    mounted () {
      if (window.localStorage.getItem('listManager')) {
        this.listOfLists = JSON.parse(window.localStorage.getItem('listManager'))
        this.listOfLists.forEach(function (element) {
          if (element.id > this.lastId) {
            this.lastId = element.id
          }
        })
      }
    },

    computed: {
      listAutoCompletionComputed () {
        return this.listName && this.listOfListsAutoComplete && this.listOfListsAutoComplete.length > 0
      }
    }
  }
</script>

<style scoped>
  .container-add {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    width          : 290px;
    margin         : auto;
  }

  .container-add .main-container-auto {
    width : 100%;
  }

  .container-add .main-container-auto .container-auto {
    border     : solid #C1C1C1 1px;
    margin-top : 5px;
  }

  .container-add .main-container-auto .container-auto a {
    display       : block;
    padding       : 10px 0;
    border-bottom : solid 1px #EDEDED;
    cursor        : pointer;
    color         : black;
  }

  .container-add .main-container-auto .container-auto a:hover {
    text-decoration : underline;
  }

  .container-add .actionsList {
    display         : flex;
    justify-content : center;
  }

  .container-add .actionsList {
  }

  .container-add .actionsList > div input {
    border-radius : 5px 0 0 5px;
  }

  .container-add .actionsList > button {
    border-radius : 0 5px 5px 0;
  }

  .item.header {
    display         : flex;
    justify-content : center;
    padding         : 15px 0;
    border-bottom   : solid black 1px;
  }

  .item.header .infos {
    width       : 70%;
    display     : flex;
    align-items : center;
    color       : black;
    font-weight : bold;
  }

  .item.header .infos .id {
    width : 30%;
  }

  .item.header .infos .name {
    width      : 70%;
    text-align : left;
  }

  .item.header .delete {
    width       : 30%;
    color       : black;
    font-weight : bold;
  }
</style>
