<template>
  <div id="app">
    <NavBar></NavBar>
    <router-view></router-view>
  </div>
</template>

<script>
  import NavBar from './components/navbar/NavBar.vue'

  export default {
    name      : 'app',
    components: {
      NavBar
    }
  }
</script>

<style>
  @import '../node_modules/semantic-ui-css/semantic.min.css';

  #app {
    font-family             : 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    text-align              : center;
    color                   : #2C3E50;
    max-width               : 800px;
    margin                  : auto;
  }
</style>


